:root {
    --primary-color: #00555c;
    --secondary-color: #ec644a;
    --text-color: #fff;
    --white: #d3dbdb;
    --black: #000000;
    --background-color: #D7CDBE;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
  height: 100%; /* Make sure both the HTML and body are 100% height */
  margin: 0;    /* Remove any default margin */
}

body {
  display: flex;           /* Enable flexbox layout */
  flex-direction: column;  /* Arrange items in a column (header, content, footer) */
}

main {
  flex: 1;  /* This ensures the main content takes up available space */
  overflow: auto;  /* Allow scrolling if the content exceeds the available space */
}

footer {
  /* Ensure the footer stays at the bottom */
  margin-top: auto;  /* This pushes the footer to the bottom of the screen */
}
